.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logoHeader {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardLogoHeader {
  margin-top: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.loginLogoHeader {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.primaryColor {
  color: #5e2bff;
}

.clientItemName {
  font-size: 1.1rem;
  font-weight: 500;
}

.clientItemIcon {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.clientlogo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.loginButtonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 5px;
}

.loginButton {
  margin-top: 2rem;
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  border-radius: 25px;
  background-color: #5e2bff;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 2.5rem;
  border-radius: 25px;
  background-color: #5e2bff;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.loginButton:hover,
.login:hover {
  background-color: #4584a8;
}

.glow:hover,
.glow:focus {
  box-shadow: 0 0 0 0.2rem rgba(69, 132, 168, 0.5);
}

.label-client {
  font-size: 1.2rem;
  font-weight: 400;
  color: #606263;
}

.labels {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.widthButton {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form-control-input {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid #5e2bff;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 0;
}

.sidebarMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;
  height: 100vh;
  background-color: #4060a9;
}

.categoryBody {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  height: 100vh;
  background-color: #f5f5f5;
}

.clientForm {
  width: 30%;
  height: 60vh;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 1.5rem 10px 0 10px;
}

.categoryForm {
  width: 30%;
  height: 40vh;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 1.5rem 10px 0 10px;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  height: 85vh;
  margin: 1.5rem 10px 0 0;
  border: 1px solid #ccc;
}

.app-users-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95%;
  height: 85vh;
  margin: 1.5rem auto;
  border: 1px solid #ccc;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  color: #606263;
  padding-bottom: 20px;
}

.form-group-client {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
}

.form-group-push {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  color: green; 
  font-size: 20px;
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}

.categoryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 15px;
  background-color: #dbdcdd;
  margin: 3px;
  color: #606263;
}

.categoryItem:hover {
  background-color: #4060a9;
  color: #fff;
}

.categoriesListBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.categoriesListHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.categoriesListDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 85vh;
  margin: 0 10px 0 0;
}

.form-control-btn-client {
  width: 50%;
  max-width: 20rem;
  height: 2.5rem;
  border-radius: 25px;
  background-color: #5e2bff;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-control-btn {
  width: 40%;
  max-width: 20rem;
  height: 2.5rem;
  border-radius: 25px;
  background-color: #5e2bff;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-control-btn:hover {
  background-color: #4060a9;
}

.category-label {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 3rem;
  color: #606263;
}

.form-control-l-icon {
  width: 100%;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  margin: 10px 0;
  border: 1px solid #5e2bff;
  font-size: 1.2rem;
  outline: none;
  font-weight: 500;
  transition: border-color 0.2s ease-in-out;
}

.form-control-l {
  width: 100%;
  border-radius: 20px;
  padding: 0 1rem;
  height: 2.5rem;
  margin: 10px 0;
  border: 1px solid #5e2bff;
  font-size: 1.2rem;
  outline: none;
  font-weight: 500;
  transition: border-color 0.2s ease-in-out;
}

.form-control-l:focus,
.form-control-l:hover {
  box-shadow: 0 0 0 0.2rem rgba(69, 132, 168, 0.5);
  border-color: #4060a9;
  cursor: pointer;
}

.contentBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100vh;
  background-color: #f5f5f5;
}

.dashboardMainDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
}

.dashboardMenu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.dashboardMenuList {
  font-size: 1.2rem;
  list-style: none;
  width: 100%;
  align-self: stretch;
  margin: 0;
  padding: 0;
}

.dashboardMenuListItem {
  margin: 10px 0;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.dashboardMenuListItem:hover {
  background-color: #4584a8;
}

.dashboardMenuListItem:focus {
  border-color: #f5f5f5;
}

.dashboardMenuListLink {
  color: rgb(226, 224, 224);
  text-decoration: none;
}

.logoutButtonDiv {
  margin-top: 2rem;
  width: 60%;
  max-width: 20rem;
  height: 2.5rem;
  border-radius: 25px;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 3rem;
  align-self: center;
}

.logoutButton {
  width: 100%;
  max-width: 20rem;
  height: 2.5rem;
  border-radius: 25px;
  background-color: #5471b4;
  color: rgb(226, 224, 224);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 3rem;
}

.logoutButton:hover {
  background-color: #5e2bff;
}

.dashboardAnalytics {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.analyticsChartContainer {
  width: 80%;
  height: 80%;
  margin-top: 2rem;
}

.analyticsHeader {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5e2bff;
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.analyticsHeaderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridWrapper {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 170px);
  justify-content: space-between;
  border-top: 1px solid #5e2bff;
  padding-top: 10px;
}

.gridItem {
  background-color: #4060a9;
  color: #fff;
  padding: 40px;
  cursor: pointer;
  text-align: center;
}

.gridItem:hover {
  background-color: #5e2bff;
}
