  .dashboardMainDiv1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    overflow-x: hidden;
  }
  
  .app-users-listus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  .delete-icon {
    color: green; 
    font-size: 20px;
    cursor: pointer;
  }

  .delete-icon:hover {
    color: red;
  }

  .actionUsersWidth {
    width: 25px;
  }

  .deliconcategory {
    width: 30px;
  }

  .catIconBorder {
    text-align: center;
  }

  .iconCategory {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border: 1px solid #ccc;
  }

  .catname {
    text-align: center;
  }

  .categoryItemCat {}

  .categoryItemCat:hover {
    background-color: #5e2bff;
    color: #fff;
  }

  .categoryItemIcon {
    width: 200px;
  }

  .categoryItemCounter {
    width: 30px;
    background-color: #dbdcdd;
  }

  .categoriesListBody {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .form-group-push {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .form-control-btncat {
    width: 100px;
    max-width: 20rem;
    height: 30px;
    border-radius: 25px;
    background-color: #5e2bff;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .form-control-l-iconcat {
    width: 90%;
    border-radius: 20px;
    padding-left: 12px;
    padding-top: 5px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #5e2bff;
    font-size: 12px;
    outline: none;
    font-weight: 500;
    transition: border-color 0.2s ease-in-out;
  }

  .categoriesList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 10px 0 0;
    border: 1px solid #ccc;
  }

  .categoryForm {
    width: 250px;
    height: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 10px 0 10px;
  }

  .form-control-btn-client {
    width: 100px;
    max-width: 20rem;
    height: 30px;
    border-radius: 25px;
    background-color: #5e2bff;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .form-control-l-inputcat {
    width: 90%;
    border-radius: 20px;
    height: 25px;
    margin: 5px 0;
    border: 1px solid #5e2bff;
    font-size: 12px;
    padding-left: 12px;
    outline: none;
    font-weight: 500;
    transition: border-color 0.2s ease-in-out;
  }

  .form-control-l-select {
    width: 100%;
  }

  .form-control-l:focus,
  .form-control-l:hover,
  .form-control-l-user:focus,
  .form-control-l-user:hover,
  .form-control-l-input:hover,
  .form-control-l-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 132, 168, 0.5);
    border-color: #4060a9;
    cursor: pointer;
  }

  .formInputType {
    width: 100%;
  }

  .label-client {
    font-size: 14px;
    font-weight: 500;
    color: #606263;
  }

  .formLabel {
    width: 100%;
    text-align: left;
  }

  .form-group-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .userForm {
    width: 100%;
  }

  .categoriesListHeader2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .userManagementList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 78%;
    height: 100%;
    align-self: center;
    padding-left: 5px;
  }

  .clientForm {
    width: 250px;
    height: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 10px 0 10px;
  }

  .claimsListHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #bebdbd;
    table-layout: fixed;
    font-size: 14px;
  }

  .tableHeader {
    height: 20px;
    background-color: #d6d4d4;
  }

  .tableRow {
    border-bottom: 1px solid #bebdbd;
    height: 20px;
    font-size: 13px;
  }

  .tableRow:nth-child(even) {
    background-color: #f3f3f3;
  }

  .tableRow:hover {
    background-color: #e4e3e3;
    color: #606263;
    cursor: cell;
    transition: border-color 0.2s ease-in-out;
  }

  .tableRow td {
    padding: 0.5rem;
  }

  th,td {
    border: 1px solid #bebdbd;
  }

  .userCounter {
    width: 70px;
  }

  .categoriesListDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin: 0 10px 0 0;
    border: 1px solid #ccc;
  }

  .headerIconMap:hover,
  .headerIconList:hover {
    font-size: 2rem;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: #606263;
  }

  .ClaimsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    height: 100%;
    margin: 0.5rem 10px 0 0;
  }
  
  .claimsListItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 15px;
    color: rgb(226, 224, 224);
  }

  .claimsListItem:hover {
    background-color: #5e2bff;
  }

  .claimsListItem:focus {
    background-color: #3a1c9e;
  }

  .claimsHolderList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #4060a9;
    color: #fff;
    overflow-y: scroll;
  }
  
  .ClaimsFormM {
    width: 180px;
    height: 99%;
    border: 1px solid #ccc;
    margin: 0 10px;
  }

  .ClaimsForm {
    width: 200px;
    height: 99%;
    border: 1px solid #ccc;
    margin: 0 10px 0 10px;
  }

  .claimsListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    height: 99%;
    margin: 0 10px 0 0;
    border: 2px solid #ccc;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .daysreport7 {
    z-index: 99898989;
    position: absolute;
    width: 30%;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid #5e2bff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .reports-seven-days {
    color: #5e2bff;
    background-color: #fff;
    border-radius: 15px;
    padding: 3px 30px;
    font-size: 12px;
    text-align: center;
    z-index: 567;
    top: -40px;
    position: relative;
    font-weight: 500;
  }

  .gridItem2 {
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom:10px;
    width: 50%;
  }

  .gridItem {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom:10px;
    font-weight: 500;
  }

  .gridItem:hover {
    background-color: #5e2bff;
  }

  .dashboardMenuList {
    font-size: 13px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .gridItem2Container {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }

  .headerMenuContainer {
    margin-bottom: 10px;
    width: 100%;
    height: 55px;
    display: flex;
    background-color: #5e2bff;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .dashboardHeading {
    margin: 0;
    align-self: flex-start;
  }

  .dashboardAnalytics {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .analyticsChartContainer {
    width: 90%;
    height: 70%;
  }

  .analyticsHeader {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5e2bff;
    color: white;
    padding: 20px;
    border-radius: 6px;
  }

  .analyticsHeaderItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .allContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background-color: #f5f5f5;
  }

  .logoutButtonDiv {
    margin-top: 2rem;
    width: 60%;
    max-width: 20rem;
    height: 2.5rem;
    border-radius: 25px;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 3rem;
    align-self: center;
  }

  .logoutButton {
    width: 120px;
    max-width: 120px;
    height: 30px;
    border-radius: 25px;
    background-color: #5e2bff;
    color: rgb(226, 224, 224);
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 100px;
  }

  .logoutButton:hover {
    background-color: #5e2bff;
  }

  .padLeft {
    padding-left: 10px;
  }

  .sidebarMenuM {
    font-size: 20px;
  }

  .sidebarMenuSide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .dashboardMenuListItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .dashboardMenuListItemLogo {
    padding: 10px;
  }

  .dashboardMenuListItem:hover {
    background-color: #5e2bff;
  }

  .selectedLinkActive {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #a29cb3;
  }

  .dashboardMenuListItem:focus {
    border-color: #f5f5f5;
  }

  .dashboardMenuListLink {
    color: rgb(226, 224, 224);
    text-decoration: none;
  }

  .dashboardMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .dashboardMenuListSB {
    font-size: 15px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }


  .headerLogo {
    width: 90px;
    height: 90px;
    object-fit: contain;
    aspect-ratio: 1/1;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #fff;
  }

  .logoimage {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .dashboardMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 95vh;
  }

  .mapItems {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 98%;
    height: 96%;
  }

  .displayMap {
    background-color: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .mapTitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    width: 95%;
    height: 4%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .testMapDisplay {
    width: 100%;
    height: 100%;
  }

  .mapLoading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .normalspace {
    width: 150px;
  }

  .actionButtonForward {
    background-color: #5e2bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 70px;
  }

  .actionButtonForward:hover {
    background-color: #4060a9;
    transition: background-color 0.2s ease-in-out;
    transform: rotate(4deg);
  }

  .actionButtonReject {
    background-color: rgb(236, 74, 16);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 70px;
  }

  .actionButtonReject:hover {
    background-color: coral;
    transition: background-color 0.2s ease-in-out;
    transform: rotate(-4deg);
  }
  
.forwardIcon {
    font-size: 18px;
  }

  .space-forward {
    font-size: 16px;
  }  
  

  .pagination {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    margin-right: 8px;
    padding: 0 8px;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    width: 30%;
  }

  .pagination-active {
    border: 1px solid #000;
    border-radius: 8px;
  }

  .pagination-break {
    padding: 10px;
  }

  .pagination-previous {
    padding: 10px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #5e2bff; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  .space-bottom {
    margin-bottom: 5px;
  }
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  .otherDevices{
    display: none;
  }

  .smallerdevices {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .otherDevices{
    display: block;
  }

  .smallerdevices {
    display: none;
  }

  .analyticsChartTable {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerIconMap {
    font-size: 18px;
    cursor: pointer;
  }

  .claimsheaderDS {
    display: block;
  }

  .claimsheaderWS {
    display: none;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
  }
  .actionTD {
    background-color: #4060a9;
    color: #fff;
    width: 80px;
  }
  .imagesCounter {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
  }

  .claimimageDisplay {
    width: 60px;
    height: 60px;
    object-fit: contain;
    aspect-ratio: 1/1;
    border: 1px solid #000;
    border-radius: 15px;
  }
  .sidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 550px;
    background-color: #4060a9;
  }
  .categoryBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    height: 550px;
    background-color: #fff;
  }
  .claimsContentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 550px;
    background-color: #fff;
  }
  .imagesSpace {
    width: 130px;
  }
   
  .categoryBodyus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    height: 550px;
    background-color: #fff;
    font-size: 12px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .otherDevices{
    display: block;
  }

  .smallerdevices {
    display: none;
  }

  .categoryBodyus {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    height: 678px;
    background-color: #fff;
    font-size: 12px;
  }
  .headerIconMap {
    font-size: 20px;
    cursor: pointer;
  }
  .claimsheaderDS {
    display: none;
  }

  .claimsheaderWS {
    display: block;
  }
  
  .mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
  }
  .actionTD {
    background-color: #4060a9;
    color: #fff;
    width: 170px;
  }
  .imagesSpace {
    width: 240px;
  }
  .logoHeader {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dashboardLogoHeader {
    margin-top: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .loginLogoHeader {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .primaryColor {
    color: #5e2bff;
  }

  .clientItemName {
    font-size: 12px;
    font-weight: 500;
  }

  .clientItemIcon {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .clientlogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .cattitle {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  .loginButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    margin-top: 2rem;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .loginButton {
    margin-top: 2rem;
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    border-radius: 25px;
    background-color: #5e2bff;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 2.5rem;
    border-radius: 25px;
    background-color: #5e2bff;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .loginButton:hover,
  .login:hover {
    background-color: #4584a8;
  }

  .glow:hover,
  .glow:focus {
    box-shadow: 0 0 0 0.2rem rgba(69, 132, 168, 0.5);
  }

  .labels {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .widthButton {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .form-control-input {
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #5e2bff;
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 0;
  }

  .sidebarMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 678px;
    background-color: #4060a9;
  }

  .form-group-user-packages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }

  .user-packages {
    width: 90px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #5e2bff;
    color: #fff;
    border-radius: 15px;
  }

  .user-packages:hover {
    background-color: #9679f8;
    cursor: pointer;
  }

  .selected-user-packages {
    width: 90px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #4060a9;
    cursor: pointer;
    padding: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 0 0 0.2rem rgba(94, 43, 255, 0.5);
  }

  .user-accounts {
    padding: 14px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #9679f8;
    border-radius: 25px;
  }

  .analyticsChartTable {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .usermanagementContainerBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 90%;
    height: 100%;
    background-color: #fff;
  }

  .categoryBody {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    height: 678px;
    background-color: #fff;
  }


  .userManagementListDiv {
    width: 100%;
    height: 45vh;
  }

  .iconPart {
    width: 45%;
  }

  .form-group-client-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-top: 10px;

  }

  .userAddForm {
    display: flex;
    flex-direction: row;
  }

  .usersContainer {
    width: 100%;
    height: 100%;
  }

  .claimsListAll {
    font-size: 1.1rem;
  }

  .app-users-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    height: 80%;
    margin: 1.5rem auto;
    border: 1px solid #ccc;
  }

  .title-user {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    color: #606263;
    padding-bottom: 7px;
  }

  .form-group-client-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .form-group-client {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .form-control-l-user {
    width: 95%;
    margin-left: 5px;
    border-radius: 8px;
    height: 1.8rem;
    border: 1px solid #5e2bff;
    font-size: 1.2rem;
    outline: none;
    font-weight: 500;
    transition: border-color 0.2s ease-in-out;
  }

  .categoryItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    padding: 5px;
    margin: 3px;
    color: #606263;
  }

  .headerIconList {
    font-size: 1.5rem;
    color: #606263;
    cursor: pointer;
  }

  .categoriesListHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }

  .form-control-btn {
    width: 40%;
    max-width: 20rem;
    height: 2.5rem;
    border-radius: 25px;
    background-color: #5e2bff;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .form-control-btn:hover {
    background-color: #4060a9;
  }

  .category-label {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 3rem;
    color: #606263;
  }

  .form-control-l-icon {
    width: 100%;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    height: 2.5rem;
    margin: 10px 0;
    border: 1px solid #5e2bff;
    font-size: 1.2rem;
    outline: none;
    font-weight: 500;
    transition: border-color 0.2s ease-in-out;
  }

  .form-control-l {
    width: 100%;
    border-radius: 20px;
    padding: 0 1rem;
    height: 2.5rem;
    margin: 10px 0;
    border: 1px solid #5e2bff;
    font-size: 1.2rem;
    outline: none;
    font-weight: 500;
    transition: border-color 0.2s ease-in-out;
  }

  .form-control-l-input {
    width: 100%;
    border-radius: 20px;
    height: 2.2rem;
    margin: 10px 0;
    border: 1px solid #5e2bff;
    font-size: 1.2rem;
    outline: none;
    font-weight: 500;
    transition: border-color 0.2s ease-in-out;
  }

  .contentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 700px;
    background-color: #f5f5f5;
  }

  .claimsContentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 678px;
    background-color: #fff;
  }

  .headingTitle {
    color: #5e2bff;
    font-size: 40px;
    font-weight: 500;
  }

  .innerSpace {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .headingSpace {
    height: 12%;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .gridWrapper {
    margin-top: 10px;
    width: 100%;
    display: flex;
    border-top: 1px solid #5e2bff;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tableUsers {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #bebdbd;
    table-layout: fixed;
  }

  
  .font16 {
    font-size: 14px;
  }

  .imagesCounter {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: space-between;
  }

  .claimimageDisplay {
    width: 100px;
    height: 100px;
    object-fit: contain;
    aspect-ratio: 1/1;
    border: 1px solid #000;
    border-radius: 15px;
  }

  .claimsBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
}